body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #0077c2;
    color: white;
    padding: 15px;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #003f6b;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #0099ff;
}

main {
    padding: 20px;
    text-align: justify;
}